* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #000;
}

.hidden {
    display: none;
}

#w {
    width: 960px;
    margin: 0 auto;
    background: url("../images/bg_001.jpg") center fixed;
    background-size: cover;

    border: 4px solid #3c2b21;
    border-top: none;
    border-radius: 0 0 12px 12px;

    padding-top: 24px;
    position: relative;
}

#game {
    margin: 0px 24px 24px 24px;
}

.frame_border {
    margin:0 auto;
    border: 8px inset #3c2b21;
    border-radius: 8px;
}

#game-map2d{
    width: 896px;
    height: 512px;
    background: url("../images/map_texture_001.png");
    position: relative;
}

.town{
    width: 64px;
    height: 64px;
    background: url("../images/town_marker_green_001.png");
    position: absolute;
}

#map-player {
    width: 64px;
    height: 64px;
    background: url("../images/map-marker-player.png") center no-repeat;
    position: absolute;
}

#game-stats{
    margin: 24px auto 24px auto;
    width: 912px;
    display: flex;
    justify-content: space-between;
}

#game-stats div {
    width: 93px;
    height: 76px;
    background: url("../images/ui-stat-indikator.png") top center no-repeat;
    text-align: center;
}
#game-stats span{
    display: block;
    height: 44px;
}
.game-stat-value {
    margin: 10px auto 0;
    font-size: 16px;
    color: black;
}
.game-stat-desc {
    margin: -8px auto 0;
    font-size: 16px;
    color: #cbcbcb;
    text-transform: uppercase;
    line-height: 16px;
}

.game-stat-desc small {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: lowercase;
}

#game-log{
    background: #130F09;
    padding: 12px;
    line-height: 150%;
    font-size: 16px;
    height: 480px;
    overflow: auto;
}

.log-message-positive {
    color: #58a638;
}

.log-message-negative {
    color: #FF6633;
}

.log-message-neutral {
    color: #90908F;
}

#shop {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    position: absolute;
    width: 904px;
    height: 520px;
    top: 24px;
    left: 28px;
}


#shop-win {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px outset #3c2b21;
    border-radius: 12px;
    background: url("../images/bg_001.jpg");
    position: absolute;
    width: 440px;
    top: 64px;
    left: 210px;
    padding: 16px;
}

#shop-title {
    font-size: 18px;
    margin-bottom: 16px;
    color: #cbcbcb;
}

.shop-product{
    display: block;
    color: #cbcbcb;
    border: 2px outset #3c2b21;
    border-radius: 8px;
    background: #130F09;
    width: 200px;
    padding: 8px;
    margin-bottom: 8px;
}

.red-button{
    border-radius: 12px;
    background: url("../images/button_01.png") top left no-repeat;
    display: block;
    height: 49px;
    width:200px;
    color: #cbcbcb;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    outline:none;
}

.red-button, .shop-product {
    box-shadow: 0 4px rgba(22,22,22,0.5);
}

.red-button:active, .shop-product:active {
    transform: translateY(4px);
    box-shadow: 0 0px rgba(22, 22,22,0.5);
}